---
import WebsiteStructuredData from "@components/WebsiteStructuredData.astro";
import Layout from "@layouts/Layout.astro";
import Navigation from "@components/Navigation.astro";
---

<Layout title="Home" description="Example Astro site using structured data.">
  <WebsiteStructuredData slot="structured-data" />
  <Navigation />
  <main class="max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between">
    <h1 class="w-[80%] text-h1 leading-h1 text-black font-light" style="font-family: 'Degular', sans-serif;">
      Ici, nous créons des <span class="font-semibold">marques vivantes</span>. Activables, utiles 
      et qui évoluent avec vous.
    </h1>
  </main>
</Layout>